.navigation {
    display: flex;
    justify-content: space-between;
}

.link {
    font-family: hwt-artz, sans-serif;
    background: transparent;
    border: none;
    box-sizing: border-box;
    margin: 0.75em 0.75em;
    padding: 0.1em 0.1em 0 0.1em;
    font-size: 1.5em;
    color: #707070;
    cursor: pointer;
    border-radius: 0.3em;
}

.link:hover {
    background-color: #69b9f3;
    color: #303030;
}

.link.active {
    border: 0.12em solid #bfbfbf;
}